ion-content{
    --ion-background-color: rgb(238, 130, 233);
}
#container {
  background-color: rgb(252, 252, 252);
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: translateY(-100%);
  height: 40%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

#container ion-input{
  color: black;
}

#Container ion-router-link{
  font: italic;
  font-size: 1px;
}

#primoLogo{
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  transform: translateY(-20%);
}

#primoLogo p{
  font-style: italic;
  color: black;
}

link_primo{
  font-size: 10px; 
  font:italic;
}